<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShayanPakistan.Properties.Settings.ProperticaDesck_dbConnectionString"
            connectionString="Data Source=192.168.0.15,1433;Initial Catalog=ProperticaDesck_db;Persist Security Info=True;User ID=Titus;Password=Titus@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!--<connectionStrings>
    --><!--Live SERVER--><!--
    <add name="connection1" connectionString="user id=ProperticaDB;password=Propertica@123;server=win10.hosterpk.com;database=ProperticaDesck_db;connection timeout=30"/>
    --><!--Local SERVER--><!--
    <add name="connection2" connectionString="user id=Titus;password=Titus@123;server=192.168.0.15,1433;database=ProperticaDesck_db;connection timeout=30"/>
  </connectionStrings>-->

</configuration>
